/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

    section {
        margin: 3rem 5rem;
    }
    
    .about-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    section {
        margin: 3rem 8rem;
    }

    .about-content {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .social-content {
        display: flex;
        justify-content: space-evenly;
    }

    .social-content p {
        text-align: center;
    }

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    section {
        margin: 3rem 9rem;
    }

    .about-content {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    .social-content {
        display: flex;
        justify-content: space-evenly;
    }

    .social-content p {
        text-align: center;
    }

 }