@font-face {
    font-family: "Shoreline";
    src: url(assets/Shorelines\ Script\ Bold.otf);
}

@font-face {
    font-family: "Uniqueen";
    src: url(assets/Uniqueen\ Bold.ttf);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
   }
   
   /* Firefox < 16 */
   @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
   }
   
   /* Safari, Chrome and Opera > 12.1 */
   @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
   }
   
   /* Internet Explorer */
   @-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
   }
   
   /* Opera < 12.1 */
   @-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
   }

body {
    background: url(assets/images/stripes-bg.jpg) center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-fluid {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

section {
    background-color: antiquewhite;
    color: #002929;
    margin: 3rem 1rem;
    padding: 2rem;
    border-radius: 4vh;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;

}

p {
    margin: 0;
    text-align: center;
}

h2 {
    border-bottom: #002929 solid 2px;
    font-family: "Uniqueen";
    margin: 0 0 1rem 0;
}

h5 {
    margin: 0;
}

h6 {
    margin: 0 0 5px;
}

.title-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 1rem 0;
}

.title-main img {
    width: 22%;
    min-width: 290px;
    padding: 1rem 2rem;
}

.title-main h1 {
    font-family: "Shoreline";
    text-align: center;
    margin: 15px 5px;
    padding: 15px 5px;
    font-size: 5rem;
    color: #002929;
}

.title-icons {
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-evenly;
}

.title-icons a {
    color: #002929;
}

.title-icons a:link {
    text-decoration: none;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
}

.title-icons a:hover {
    text-decoration: none;
    color: #58C9DA;
}

.title-icons a:visited {
    text-decoration: none;
}

#headshot {
    width: 35%;
    min-width: 250px;
    margin: 10px;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.carousel-item p {
    color: #002929;
    text-align: left;
}

.carousel-control-prev, .carousel-control-next {
    /*size */
    height: 50px;
    width: 50px;
    /*symbol */
    color: #fff;
    line-height: 70px;
    /*vertical position */
    top: 50%;
}

.caption {
    margin: 2rem 0;
}

.caption a {
    text-decoration: none;
    color: #002929;
}

.caption a:link {
    text-decoration: none;
    color: #002929;
}

.caption a:visited {
    text-decoration: none;
    color: #002929;
}

.caption a:hover {
    text-decoration: underline;
}

span.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23002929' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}
  
span.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23002929' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
    opacity: 100%!important;
}

.social-content i {
    padding: 0 10px;
}

.social-content p {
    text-align: left;
    margin-top: 1rem;
    width: 230px;
}

.social-buttons a {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
}

.social-buttons a:visited {
    color: #002929;
    text-decoration: none;
}

.social-buttons a:link {
    color: #002929;
    text-decoration: none;
}

.social-buttons a:hover {
    color: #58C9DA;
}

footer {
    text-align: center;
    padding: 2rem 0;
}
